<div class="container mt-4">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLading">
    <div class="card rounded-0">
      <div class="card-header">Customers</div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
            <div class="input-group">
              <label class="input-group-text rounded-0">Keyword</label>
              <input type="text" formControlName="keyword" class="form-control rounded-0">
              <button class="btn btn-success  rounded-0">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table mt-3">
          <thead>
          <tr>
            <th>Name</th><th>Email</th><th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of customers | async">

            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
     
            <td>
              <button (click)="handleDeleteCustomer(c)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>
